{{!-- For user and instructor check course record --}}
<ul style="list-style-type: none;">
    <li>
        <label for="course_name">*Course name:</label>
        <input type="text" name="course_name" id="course_name" placeholder="" size="25" minlength="5" required>
    </li>
    <li>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" placeholder="" size="25" minlength="5">
    </li>
    <li>
        <label for="date">*Date:</label>
        <input type="date" name="date" id="date" placeholder="" required>
    </li>
    <li>
        <label for="time">*Time:</label>
        <input type="time" name="time" id="time" step="1800" required>
    </li>
    <li>
        <label for="instructor">*Instructor:</label>
        <input type="text" name="instructor" id="instructor_id" placeholder="" size="20" minlength="5" required>
    </li>
    <li>
        <label for="quota">*Quota:</label>
        <input type="number" name="quota" id="quota" placeholder="" size="15" required>
    </li>
    <li>
        <label for="sport">*Sport:</label>
        <select id="sport_id" name="sport" required>
            <option value="" name="" id=""></option>
            <option value="MuayThai" name="MuayThai" id="sport1">MuayThai</option>
            <option value="Fitness" name="Fitness" id="sport2">Fitness</option>
            <option value="AerialYoga" name="AerialYoga" id="sport3">AerialYoga</option>
            <option value="GroundYoga" name="GroundYoga" id="sport4">GroundYoga</option>
        </select>
    </li>
    <li>
        <label for="room">*Room:</label>
        <select id="room_id" name="room" required>
            <option value="" name="" id=""></option>
            <option value="Mongkok" name="Mongkok" id="room1">Mongkok</option>
            <option value="Fitness" name="WongTaiSin" id="room2">WongTaiSin</option>
            <option value="FortressHill" name="FortressHill" id="room3">FortressHill</option>
            <option value="KowloonTong" name="KowloonTong" id="room4">KowloonTong</option>
        </select>
    </li>
</ul>