{{!-- call the course from database --}}
{{!-- {{#each listForCourse}} 
{{#if courseInfo}} --}}

{{!-- <div class="container">
    <div class="" style="background-color: rgba(177, 7, 7, 0.685);">
        <div class="row">
            <div class="col-lg-3 col-sm-3" style="border:1px solid black;">
                <h6 class="class_time">01:30 PM-02:30 PM Class Time here</h6>
                <p class="class_instructor">Instructor Name here</p>
            </div>
            <div class="col-lg-7 col-sm-7 class_subject" style="border:1px solid black;">Class Name here</div>
            <div class="col-lg-2 col-sm-2" style="border:1px solid black;">
                <button class="view_button btn btn-dark" href="/course/detail" data-id="15778" style="border:1px solid black;">View</button>
            </div>
            <div class="col-lg-12 col-sm-12 d-flex justify-items-start" style="border:1px solid black;">
                <button type="button" class="detail-link">
                        <span class="detail-link-text-closed">View details</span><br>
                </button>
                <button type="button" class="detail-link">
                        <span class="detail-link-text-open">Hide details</span>
                </button>
            </div>
            <div class="col-lg-12 detail-View text-start" style="border:1px solid black;">
                <span class="class_location">Location: MONG KOK</span><br>
                <span class="class_mini_subject">HAMMOCK FLOW (BASIC-INTRO) 4 Credits/Class</span>
                <h4 class="class_Description">Description</h4>
                <p>HAMMOCK FLOW (BASIC-INTRO) Newbies to aerial sports are all recommended to join this class.
                </p>
            </div>
        </div>
    </div>
</div> --}}

<div class="courseList">

</div>



{{!-- {{else}}
<p>Don't have class on this day</p>
{{/if}}
{{/each}} --}}
