{{!-- install fontawesome and jQuery --}}
{{!-- alert message --}}
<div class="alert_ok hide">
    <span class="msg"><i class="fa-solid fa-circle-check fa-xl"></i> Submitted Successfully</span>
</div>
<div class="alert_fail hide">
    <span class="msg"><i class="fa-solid fa-circle-xmark fa-xl"></i> Submitted Fail</span>
</div>
{{!-- <button class="test_btn1 hide" style="padding:15px; font: size 50px;">success msg</button>
<button class="test_btn2 hide" style="padding:15px; font: size 50px;">fail msg</button> --}}