{{!-- alert message --}}
{{!-- install fontawesome and jQuery --}}
<div class="alert_ok">
    <span class="msg"><i class="fa-solid fa-circle-check fa-xl"></i> Register Successfully</span>
    {{!-- $(".alert_ok span").html("CHANGE ANY MSG") --}}
</div>
<div class="alert_fail">
    <span class="msg"><i class="fa-solid fa-circle-xmark fa-xl"></i> Register Fail</span>
</div>
<button class="test_btn1" style="padding:15px; font: size 50px;">success msg</button>
<button class="test_btn2" style="padding:15px; font: size 50px;">fail msg</button>

<script>
    $(".test_btn1").on("click", () => {
        $(".alert_ok").removeClass("hide");
        $(".alert_ok").addClass("show");
        setTimeout(function () {
            $(".alert_ok").addClass("fadeout");
        }, 2500)
        setTimeout(function () {
            $(".alert_ok").addClass("hide");
            $(".alert_ok").removeClass("show");
            $(".alert_ok").removeClass("fadeout");
        }, 2800)
    });
    $(".test_btn2").on("click", () => {
        $(".alert_fail").removeClass("hide");
        $(".alert_fail").addClass("show");
        setTimeout(function () {
            $(".alert_fail").addClass("fadeout");
        }, 2500)
        setTimeout(function () {
            $(".alert_fail").addClass("hide");
            $(".alert_fail").removeClass("show");
            $(".alert_fail").removeClass("fadeout");
        }, 2800)
    });
</script>