{{!-- install fontawesome and jQuery --}}
    <link rel="stylesheet" href="/css/alertmsg.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/695eef1759.js" crossorigin="anonymous"></script>
    <script src="./js/alertmsg_js.js"></script>
{{!-- alert message --}}
<div class="alert_ok hide">
    <span class="msg"><i class="fa-solid fa-circle-check fa-xl"></i> Submitted Successfully</span>
</div>
<div class="alert_fail hide">
    <span class="msg"><i class="fa-solid fa-circle-xmark fa-xl"></i> Submitted Fail</span>
</div>
{{!-- <button class="test_btn1 hide" style="padding:15px; font: size 50px;">success msg</button>
<button class="test_btn2 hide" style="padding:15px; font: size 50px;">fail msg</button> --}}