<div class="container">
    <div class="row d-flex justify-content-start m-3">
        <form action="">
            <div class="col-md-6 position-relative top-50 start-50 end-50 translate-middle m-2 p-5"
                style="border:1px solid black;background-color:rgba(240, 255, 255, 0.443);">
                <h3>User Information:</h3>
                <ul class="text-start" style="list-style-type: none;">
                    <li>
                        <label for="name">Your Name:</label>
                        <input type="text" name="name" id="name" placeholder="" size="20" minlength="3">
                    </li>
                    <li>
                        <label for="gender">Gender:</label>
                        <label for="gender">Male</label>
                        <input type="radio" name="gender" id="male" value="T" ;>
                        <label for="gender">Female</label>
                        <input type="radio" name="gender" id="female" value="F" ;>
                    </li>
                    <li>
                        <label for="phone_number">Phone number:</label>
                        <input type="tel" name="phone_number" id="phone_number" placeholder="" size="25" minlength="8"
                            maxlength="16" pattern="[0-9]{8}">
                    </li>
                    <li>
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" placeholder="" size="30" minlength="5" maxlength="30"
                            pattern="email">
                    </li>
                    <br><br>
                    <button type="reset">Reset</button>
                    <button type="submit" value="submit">Submit</button>
                </ul>
            </div>
        </form>
    </div>
</div>