<h2>Homepage</h2>
<div class="container p-0 m-0 " style="border:1px solid black;background-color:rgba(100, 237, 175, 0.207)">

<div style="height: 30px; width:max-content;border:1px solid black;text-align: center;">
<a href="./userlogin">User login</a>
</div>

<div style="height: 30px; width:max-content;border:1px solid black;text-align: center;">
    <a href="./instructorlogin">Instructor login</a>
</div>

<div style="height: 30px; width:max-content;border:1px solid black;text-align: center;">
<a href="./userReg">Register</a>
</div>
</div>