
        <div class="row">
            <div class="col">
                <a href="/login"><button type="button" class="btn" id="btn1">Log In</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/instructor/login"><button type="button" class="btn" id="btn2">
                    Instructor Log In
                </button></a>
            </div>
        </div>
        <h4>NEW TO STUDIO?</h4>
        <div class="row">
            <div class="col">
                <a href="/signup"><button type="button" class="btn" id="btn3">Register</button></a>
            </div>
        </div>