.alert_ok, .alert_fail {
    position: sticky;
    display: flex;
    justify-content: center;
    bottom: 40px;
    user-select: none;
}

.show{
    animation: popin .7s;
    opacity: 1;
}
@keyframes popin{
    from {bottom: -50px;opacity: 0;}
    20% {bottom: -30px;opacity: 0.2;}
    40% {bottom: -10px;opacity: 0.4;}
    60% {bottom: 10px;opacity: 0.6;}
    80% {bottom: 25px;opacity: 0.8;}
    to {bottom: 40px;opacity: 1;}
}
.fadeout{
    animation: fadeout .5s;
}
@keyframes fadeout{
    to {bottom: -50px;opacity: 0;}
    80% {bottom: -30px;opacity: 0.2;}
    60% {bottom: -10px;opacity: 0.4;}
    40% {bottom: 10px;opacity: 0.6;}
    20% {bottom: 25px;opacity: 0.8;}
    from {bottom: 40px;opacity: 1;}
}
.hide{
    display: none;
}
/* msg color */
.alert_ok span{
    background-color: rgb(28, 212, 56, .8);
    color: rgb(10, 85, 22);
    border-left: 5px solid rgb(20, 158, 38, .8);
    border-right: 5px solid rgb(20, 158, 38, .8);
}
.alert_fail span{
    background-color: rgba(212, 28, 28, 0.8);
    color: rgb(70, 5, 5);
    border-left: 5px solid rgba(105, 16, 16, 0.8);
    border-right: 5px solid rgb(105, 16, 16, 0.8);
}

.msg{
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-weight: 600;
}
