.alert_ok, .alert_fail {
    position: sticky;
    display: flex;
    justify-content: center;
    bottom: 40px;
    user-select: none;
}

.show{
    animation: popin .7s;
    opacity: 1;
}
@keyframes popin{
    from {opacity: 0;}
    20% {opacity: 0.2;}
    40% {opacity: 0.4;}
    60% {opacity: 0.6;}
    80% {opacity: 0.8;}
    to {opacity: 1;}
}
.fadeout{
    animation: fadeout .5s;
}
@keyframes fadeout{
    to {opacity: 0;}
    80% {opacity: 0.2;}
    60% {opacity: 0.4;}
    40% {opacity: 0.6;}
    20% {opacity: 0.8;}
    from {opacity: 1;}
}
.hide{
    display: none;
}
/* msg color */
.alert_ok span{
    background-color: rgb(28, 212, 56, .7);
    color: rgb(10, 85, 22);
    border: 1px solid rgb(20, 158, 38, .7);
    border-left: 5px solid rgb(20, 158, 38, .7);
    border-right: 5px solid rgb(20, 158, 38, .7);
}
.alert_fail span{
    background-color: rgba(212, 28, 28, 0.7);
    color: rgb(70, 5, 5);
    border: 1px solid rgba(105, 16, 16, 0.7);
    border-left: 5px solid rgba(105, 16, 16, 0.7);
    border-right: 5px solid rgb(105, 16, 16, 0.7);
}

.msg{
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 6px;
    font-weight: 600;
}
