/* for user course page, calendar */
body {
    /* position: relative; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-family: 'Poppins', sans-serif;


    /* &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: inherit;
        filter: blur(10px);
    } */
}

.calendar {
    position: relative;
    /* width: 300px; */
    height: 50vh;
    /* background-color: #2a83323e; */
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.calendar__picture {
    position: relative;
    height: 50vh;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
    box-shadow: 7px 11px 19px -1px rgba(101, 95, 95, 1);
        -webkit-box-shadow: 7px 11px 19px -1px rgba(101, 95, 95, 1);
        -moz-box-shadow: 7px 11px 19px -1px rgba(101, 95, 95, 1);

    /* &::before {
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
    } */

}
/* .calendar__picture h2{
    margin: 0;
}
.calendar__picture h3 {
    margin: 0;
    font-weight: 500;
} */

.calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 0px;
    box-sizing: border-box;
}

.calendar__weekday {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
}

.calendar__daynumber {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 0px;
    box-sizing: border-box;
}

.calendar__number {
    font-size: 30px;
    padding: 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    color: #262626;
    width: calc(100%/7.05);
}

.calendar__number--current {
    background-color: rgb(54, 123, 67);
    border-radius: 100%;
    color: #fff !important;
    font-weight: 500;
    cursor: pointer;
    /* box-shadow: 7px 5px 22px 1px rgba(0, 0, 0, 0.82);
    -webkit-box-shadow: 7px 5px 22px 1px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 7px 5px 22px 1px rgba(0, 0, 0, 0.82); */
}

.calendar__number:hover:not(.calendar__number--current) {
    border: 1px solid whitesmoke;
}

.calendar__number:nth-child(7n + 1),
.calendar__number:nth-child(1),
.calendar__weekday:nth-child(1) {
    color: #cd0000;
    font-weight: 500;
}

.calendar__nextday,
.calendar__prevday {
    color: #5c5c5c;
}