<h2>Course List Here</h2>
Click to select your course
<ul>
    <li> <a href="/user/course_detail">A</a> </li>
    <li><a href="/user/course_detail">B</a></li>
    <li><a href="/user/course_detail">C</a></li>
</ul>
