<h2>Profile</h2>
<form action="">
    <div class="" style="width:300px;height:500px;border:1px solid black;">
        <p>form here</p>
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </div>
</form>