@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/images/boxing-ring-gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: inherit;
  text-decoration: inherit;
}

#coverPageContainer {
  background-color: rgba(241, 90, 34, 0.5);
  margin: 120px auto 120px;
  padding: 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
  width: 400px;
}

.sub-container {
  border-radius: 6px;
  background-color: #fff;
}
.container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
  opacity: 0;
}
.container:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #fff;
  -webkit-box-shadow: 0 0 0 13px #fff;
  -moz-box-shadow: 0 0 0 13px #fff;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #666;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

.btn,
input {
  width: 80%;
  font-size: 18px;
  border-radius: 50px;
  margin-bottom: 15px;
  font-weight: 700;
}

input {
  padding: 6px;
  font-weight: 400;
}

#btn1,
#username {
  border: 1px solid rgba(241, 90, 34, 1);
  color: rgba(241, 90, 34, 1);
  margin-top: 25px;
}

#password {
  border: 1px solid rgba(241, 90, 34, 1);
  color: rgba(241, 90, 34, 1);
  margin-bottom: 50px;
}

#btn2 {
  background-color: rgba(241, 90, 34, 1);
  color: #fff;
  margin-bottom: 50px;
}

#btn3 {
  border: 1px solid rgba(241, 90, 34, 1);
  color: rgba(241, 90, 34, 1);
}
