<h2>Add Course</h2>

<div class="container py-5 h-100 addCourseContainer">
    <div class="row justify-content-around align-items-center h-100">
        <div class="col-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Course</h3>
                    <form action="/instructor/add_course" method="post" id="addCourse" enctype="multipart/form-data"> <!-- enctype="multipart/form-data needed when submitting file together in one form -->
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="course_name" class="form-label">Course Name</label>
                                            <input type="text" class="form-control form-control-lg" id="course_name"
                                                name="course_name" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="sport_id" class="form-label">Sport Type</label>
                                            <select class="form-select form-select-lg" id="sport_id" name="sport_id" required>
                                                <option selected value="1">Muay Thai</option>
                                                <option value="2">Fitness</option>
                                                <option value="3">Ground Yoga</option>
                                                <option value="4">Aerial Yoga</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="room_id" class="form-label">Room</label>
                                            <select class="form-select form-select-lg" id="room_id" name="room_id" required>
                                                <option selected value="1">Room 1</option>
                                                <option value="2">Room 2</option>
                                                <option value="3">Room 3</option>
                                                <option value="4">Room 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="description">Description</label>
                                            <textarea name="description" form="addCourse" id="description"
                                                class="form-control form-control-lg"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="quota">Quota (1-20)</label>
                                            <input type="number" id="quota" name="quota"
                                                class="form-control form-control-lg" min="1" max="20" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="date">Date</label>
                                            <input type="date" id="date" name="date"
                                                class="form-control form-control-lg" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="time_slot_id" class="form-label">Time Slot</label>
                                            <select class="form-select form-select-lg" id="time_slot_id" name="time_slot_id" required>
                                                <option selected value="1">09:00 - 10:00</option>
                                                <option value="2">10:15 - 11:15</option>
                                                <option value="3">11:30 - 12:30</option>
                                                <option value="4">14:00 - 15:00</option>
                                                <option value="5">15:15 - 16:15</option>
                                                <option value="6">16:30 - 17:30</option>
                                                <option value="7">17:45 - 18:45</option>
                                                <option value="8">19:00 - 20:00</option>
                                                <option value="9">20:15 - 21:15</option>
                                                <option value="10">21:30 - 22:30</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-12 mb-4 d-flex justify-content-center">
                                <div class="row">
                                    <div class="col mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="addCourseImg"></label>
                                            <div class="box">
                                                <div class="js--image-preview"></div>
                                                <div
                                                    class="upload-options d-flex align-items-center justify-content-center">
                                                    <p id="uploadImg">Upload Image</p>
                                                    <label>
                                                        <input type="file" name="upload" class="image-upload" accept="image/*"
                                                            id="addCourseImg" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 mb-4 pt-2">
                                <input class="btn btnAddCourse btn-lg" type="submit" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>