<h2>Instructor Course Detail</h2>

You are choosing "XXX" course
View, Delete, List the participants info? Photo
<h3>Student List:</h3>
<ul>
    <li>User_ID:001, Name:Kenny, Age:18, Gender:M </li>
    <li>User_ID:002, Name:John, Age:19, Gender:M</li>
    <li>User_ID:003, Name:Joe, Age:20, Gender:M</li>
</ul>

<a href="/instructor/manage_course">Back</a>
