        <form action="/instructor/login" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" name="username" id="username" placeholder="username" size="25" minlength="5"
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="password" name="password" id="password" placeholder="password" size="25" minlength="5"
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" value="submit" class="btn" id="btn2">Log In</button>
                </div>
            </div>
        </form>

