<h2>Manage Course Here</h2>

Your Course:
<p>(Use the instructor add Course Template)</p>
<ul>
    <li> <a href="/instructorAddCourse">A</a> </li>
    <li><a href="/instructorAddCourse">B</a></li>
    <li><a href="/instructorAddCourse">C</a></li>
</ul>
