<h2>Manage Course Here</h2>

One course here:
{{!-- {{#each }}
{{#if}} --}}
{{>courseDetail}}
{{!-- {{else}}
<p>You don't have class currently.</p>
{{/if}}
{{/each}} --}}

Your Course:
<p>(Use the instructor add Course Template)</p>
<ul>
    <li> <a href="/instructor/add_course">A</a> </li>
    <li><a href="/instructor/add_course">B</a></li>
    <li><a href="/instructor/add_course">C</a></li>
</ul>