<h2>Manage Course Here</h2>

Your Course:
<ul>
    <li> <a href="/instructor/course_detail">A</a> </li>
    <li><a href="/instructor/course_detail">B</a></li>
    <li><a href="/instructor/course_detail">C</a></li>
</ul>
